@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 160px 0px;
}
.navbar h3{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 26px;
    font-weight: 560;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar button{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6.4px;
    padding: 12px 24px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 480;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar button:hover{
    background: rgb(84, 144, 245);
    color: white;
}
.banner-section{
    border-radius: 20px;
    background: rgb(198, 228, 214);
    margin: 30px 160px 80px;
    padding: 64px 80px 64px 48px;
    display: flex;
    align-items: center;
    gap: 51px;
}
.banner-section p{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin: 21px 0 13px 0 ;
}
.banner-section h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 45px;
    font-weight: 560;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 14px 27px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    margin-top: 20px;
}
.banner-btn:hover{
    background: lightskyblue;
}
.vision-section{
    margin: 0 160px 80px;
}
.vision-section h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 560;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-section p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin: 19px 0 26px 0;
    padding-right: 40px;
}
.vision-cards{
    display: flex;
    justify-content: space-between;
    gap: 19px;
}
.vision-card{
    padding: 26px;
    max-width: 380px;
}
.vision-card h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}
.vision-card p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.card-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 6.5px;
    padding: 9px 16px;
    border: none;
}
.btn1{
    background: rgb(84, 144, 245);
}
.btn2{
    background: rgb(9, 161, 92);
}
.btn3{
    background: rgb(255, 194, 57);
}
.card-btn:hover{
    background: darkgoldenrod;
}
.quote-section{
    margin: 0 160px 80px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 13px;
    background: rgb(239, 238, 238) url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 38px 19px;
}
.quote-section p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.quote-section h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0 8px;
}
.news-section{
    margin: 0 160px 80px;
}
.news-section h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 560;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.news-section p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 26px;
}
.news{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.news-btn{
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    border-radius: 6.5px;
    padding: 12px 18px;
    border: none;
    margin-bottom: 15px;
}
.news-btn:hover{
    background-color: lightblue;
}
.news-cart{
    display: flex;
    gap: 26px;
    padding: 38px;
    border-radius: 19px;
    background: rgb(240, 240, 240);
}
.news-cart h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 26px;
    font-weight: 560;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 9px;
}
.news-cart p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.donate-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin: 100px 160px;
    padding: 0 84px;
}

.donate-section h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 560;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.donate-section p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
.amount-cards{
    display: flex;
    justify-content: space-around;
    gap: 19px;
}
.donate-section input{
    padding: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: whitesmoke;
    margin: 0 20px;
    width: 78%;
}
.amount-card{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 560;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(248, 247, 247);
    padding: 32px;
    max-width: 240px;
}
.sec-bg{
    background: rgb(198, 228, 214);
}
.amount-card:hover{
    background: lawngreen;
}
.subscribe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin: 80px 160px;
    padding: 80px 64px;
    background: rgb(198, 228, 214);
    border-radius: 29px;
}
.subscribe-section h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 560;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.subscribe-section p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    width: 500px;
    padding: 0 52px;
}
.subscribe-field{
    display: flex;
    align-items: center;
    gap: 0;
}
.subscribe-field input{
    border-radius: 6.5px 0px 0px 6.5px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 14px 27px;
    width: 480px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 480;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.sub-btn{
    border: none;
    border-radius: 0px 6.5px 6.5px 0px;
    background: rgb(0, 106, 80);
    padding: 14px 27px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 480;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.sub-btn:hover{
    background: mediumturquoise;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 42px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 560;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 80px;
}
.media{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}